Repository wemanity-welab/we-coop-xp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, ui

backend:
  stage: build
  trigger:
    include: api/.gitlab-ci.yml
    strategy: depend

ui:
  stage: build
  trigger:
    include: client/.gitlab-ci.yml
    strategy: depend

fix: save method return the mission saved
  api/src/domain/mission/IMissionRepository.ts
  api/src/domain/mission/IMissionService.ts
Due: none

fix: save method return the mission saved
  api/src/exposition/job/MissionServiceAdapter.ts
Due: none

feat: errors handling
  api/src/domain/mission/MissionService.ts
  api/src/exposition/job/MissionController.ts
  api/src/infrastructure/job/MissionRepositoryAdapter.ts
Due: none

fix: save method return Mission type
  api/test/unit-testing-repository/mission.repository.test.ts
Due: none

fix: error message in delete
  api/src/exposition/job/MissionController.ts
Due: none

feat: integration testing with cucumber + search method testing
  Dockerfile
  cucumber.js
  package-lock.json
  package.json
  src/domain/mission/IMissionRepository.ts
  src/domain/mission/IMissionService.ts
  src/exposition/job/MissionController.ts
  src/exposition/job/MissionServiceAdapter.ts
  src/infrastructure/job/MissionRepositoryAdapter.ts
  src/types/Mission.d.ts
  test/app.e2e-spec.ts
  test/config/testDatabase.ts
  test/cucumber/features/mission.posting.feature
  test/cucumber/integrations/mission.e2eInmemory.steps.ts
  test/cucumber/integrations/mission.steps.ts
  test/cucumber/units/mission.steps.ts
  test/mock/mockedAdapter.ts
  test/mock/typeormMockMethods.ts
  test/unit-testing-repository/mission.repository.test.ts
  test/unit-testing-repository/mission.steps.ts
  test/unit-testing-services/adapterMock.test.ts
  test/unit-testing-services/search.test.ts
  test/utils/types/Mission.d.ts
Due: none

fix: cucumber search testing
  test/cucumber/integrations/mission.steps.ts
  test/unit-testing-services/mission.e2eInmemory.steps.ts
Due: none

update: delete some useless test
  test/mock/typeormMockMethods.ts
  test/unit-testing-repository/mission.repository.test.ts
  test/unit-testing-services/adapterMock.test.ts
  test/unit-testing-services/mission.service.test.ts
  test/unit-testing-services/search.test.ts
Due: none

fix: cucumber integration, unit testing
  api/package-lock.json
  api/test/cucumber/features/mission.posting.feature
  api/test/mock/mockedAdapter.ts
  api/test/unit-testing-services/mission.e2eInmemory.steps.ts
Due: backend

fix: parameters names
  api/src/domain/mission/MissionDomain.ts
  api/src/exposition/job/MissionController.ts
  api/src/infrastructure/job/MissionEntity.ts
  api/src/infrastructure/job/MissionRepositoryAdapter.ts
  api/src/types/Mission.d.ts
  api/test/utils/types/Mission.d.ts
Due: none

update: fix parameters in tests
  api/test/app.e2e-spec.ts
  api/test/cucumber/features/mission.posting.feature
Due: none

fix: wrong parameters in tests
  api/test/unit-testing-repository/mission.repository.test.ts
  api/test/unit-testing-services/mission.service.test.ts
Due: none

fix: yarn
  client/.gitlab-ci.yml
Due: ui

refactor: hexagonale architecture
  client/internals/startingTemplate/src/index.tsx
  client/package-lock.json
  client/package.json
  client/src/app/pages/HomePage/Features/GithubRepoForm/__tests__/index.test.tsx
  client/src/app/pages/HomePage/Features/ThemeSwitch/__tests__/index.test.tsx
  client/src/domain/models/Mission.ts
  client/src/domain/repositories/Http.ts
  client/src/domain/repositories/MissionRepository.ts
  client/src/domain/services/MissionService.d.ts
  client/src/domain/services/MissionService.ts
  client/src/index.tsx
  client/src/infrastructure/http/MissionDTO.ts
  client/src/infrastructure/instances/httpAxios.ts
  client/src/infrastructure/repositories/missionRepository.ts
  client/src/infrastructure/view/components/atoms/Button.tsx
  client/src/infrastructure/view/components/atoms/Logo.tsx
  client/src/infrastructure/view/components/molecules/SearchBar.tsx
  client/src/infrastructure/view/components/organisms/Footer.tsx
  client/src/infrastructure/view/components/organisms/Header.tsx
  client/src/infrastructure/view/components/templates/Home.tsx
  client/src/infrastructure/view/contexts/store/__tests__/configureStore.test.ts
  client/src/infrastructure/view/contexts/store/__tests__/reducer.test.ts
  client/src/infrastructure/view/contexts/store/configureStore.ts
  client/src/infrastructure/view/contexts/store/reducers.ts
  client/src/infrastructure/view/hooks/CustomHook.tsx
  client/src/infrastructure/view/pages/Home.tsx
  client/src/styles/theme/__tests__/ThemeProvider.test.tsx
  client/yarn.lock
Due: ui

update missionEntity
  api/src/domain/mission/MissionDomain.ts
  api/src/infrastructure/job/MissionEntity.ts
Due: none

update missionEntity
  api/src/domain/mission/MissionDomain.ts
Due: none

update: mission properties
  api/src/infrastructure/job/MissionRepositoryAdapter.ts
  api/src/types/Mission.d.ts
  api/test/app.e2e-spec.ts
  api/test/cucumber/features/mission.posting.feature
  api/test/unit-testing-repository/mission.repository.test.ts
  api/test/unit-testing-services/mission.service.test.ts
Due: none

update packages json
  client/internals/startingTemplate/src/app/index.tsx
  client/package.json
  client/src/app/index.tsx
  client/src/infrastructure/view/index.tsx
  client/yarn.lock
Due: ui

clean setup using boilerplate
  client/src/app/index.tsx
Due: none

fix: dependencies
  client/package.json
  client/yarn.lock
Due: ui

fix: dependencies
  client/package.json
Due: ui

build: axios
  client/package.json
Due: ui

refactor: hexagonale architecture
  client/src/domain/models/Mission.ts
  client/src/domain/repositories/Http.ts
  client/src/domain/repositories/MissionRepository.interface.ts
  client/src/domain/services/MissionService.d.ts
  client/src/domain/services/MissionService.ts
  client/src/index.tsx
  client/src/infrastructure/http/MissionDTO.ts
  client/src/infrastructure/instances/httpAxios.ts
  client/src/infrastructure/repositories/missionRepository.ts
  client/src/infrastructure/view/__tests__/index.test.tsx
  client/src/infrastructure/view/components/atoms/index.ts
  client/src/infrastructure/view/components/molecules/index.ts
  client/src/infrastructure/view/components/organisms/index.ts
  client/src/infrastructure/view/components/templates/index.ts
  client/src/infrastructure/view/hooks/index.ts
  client/src/infrastructure/view/index.tsx
  client/src/infrastructure/view/pages/HomePage/Loadable.tsx
  client/src/infrastructure/view/pages/HomePage/index.tsx
  client/src/infrastructure/view/pages/NotFoundPage/Loadable.tsx
  client/src/infrastructure/view/pages/NotFoundPage/P.ts
  client/src/infrastructure/view/pages/NotFoundPage/index.tsx
  client/src/infrastructure/view/store/__tests__/configureStore.test.ts
  client/src/infrastructure/view/store/__tests__/reducer.test.ts
  client/src/infrastructure/view/store/configureStore.ts
  client/src/infrastructure/view/store/reducers.ts
Due: none

build: axios
  client/yarn.lock
Due: ui

fix: axios call on getMissions
  client/src/infrastructure/instances/httpAxios.ts
  client/src/infrastructure/repositories/missionRepository.ts
Due: none

testing axios call on homepage
  client/src/infrastructure/view/pages/HomePage/index.tsx
Due: none

feat: Card
  client/src/infrastructure/view/components/molecules/index.ts
Due: none

deleted test
  client/src/infrastructure/view/pages/HomePage/index.tsx
Due: none

feat: Card
  client/src/infrastructure/view/components/molecules/Card.tsx
Due: none

feat: mission listing
  client/src/infrastructure/view/MissionList.tsx
Due: none

config: add script to install husky at root project
  client/package.json
Due: ui

writing contexts
  client/src/infrastructure/view/pages/HomePage/index.tsx
  client/src/infrastructure/view/store/__tests__/configureStore.test.ts
  client/src/infrastructure/view/store/__tests__/reducer.test.ts
  client/src/infrastructure/view/store/__tests__/test.ts
  client/src/infrastructure/view/store/configureStore.ts
  client/src/infrastructure/view/store/contexts/MissionContext.tsx
  client/src/infrastructure/view/store/reducers.ts
Due: none

feat: add store with context and reducer
  client/src/index.tsx
  client/src/infrastructure/http/MissionDTO.ts
  client/src/infrastructure/view/pages/HomePage/index.tsx
  client/src/infrastructure/view/pages/MissionList.tsx
  client/src/infrastructure/view/store/contexts/MissionContext.tsx
Due: none

update: add payload property to action
  client/src/infrastructure/view/pages/MissionList.tsx
  client/src/infrastructure/view/store/contexts/MissionContext.tsx
Due: none

update payload
  client/src/infrastructure/view/pages/MissionList.tsx
  client/src/infrastructure/view/store/contexts/MissionContext.tsx
Due: none

feat: useAsyncReducer custom hook
  client/src/infrastructure/view/hooks/UseAsyncReducer.ts
  client/src/infrastructure/view/hooks/index.ts
Due: none

update: fetching missions asynchronously in context
  client/src/infrastructure/view/pages/MissionList.tsx
  client/src/infrastructure/view/store/contexts/MissionContext.tsx
Due: none

Path conditions:
  backend: any of: api/*
  ui: any of: client/*
